[user]
	email = grsouza@pm.me
	name = Guilherme Souza
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[pull]
	rebase = true
